.header {
    width: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: darken($brand-primary, 20%);
    box-shadow: rgba(0, 0, 0, 1) 0 0 7px;
}

.main-nav {
}

.main-nav ul {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-right: -4px;
    padding: 0 15px;
}

.main-nav a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav .active a {
    color: #ffd200;
}